
.logo {
    max-width: 100px;
    max-height: 100px;
}
nav {
    background-color: lightgrey;
    box-shadow: black; 
  }

  .nav-center{
    display: flex;
  }
 
  body {
    background: grey;
  }
  ul{
    display: flex;
    list-style-type: none;
  }

  .links {
    display: block;
    padding: 2.5rem 1rem;
    margin: auto;
  
  }
   a {
    margin-left: 2rem;
    font-size: large;
    color: grey;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-decoration: none;
   }