*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 249, 214);
}
.board { 
    display: flex;
    flex-wrap: wrap;
    width: 305px;
    height: fit-content;
    margin: 0 auto;
   
}
.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}

.result{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 249, 214);
    background-color: rgb(5, 195, 56);
    border-radius: 1rem;
    width: 300px;
    height: 50px;
    margin: 100px auto;
}
button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


