*{
    margin: 0;
    max-width: auto;
}
body{
    height: 110vh;
}
header{
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 1rem; 
    color: black;
}

