*{
    margin: 0;
    max-width: auto;
}
body{
    height: 100vh;
}
header{
    margin-top: 70px;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 1rem; 
    color: black;
}
/* .highlight {
    background: rgb(195, 195, 195) !important;
    font-weight: bold;
    
} */

